body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #c467a8;
}

h2 {
    color: #333;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #465361;
}

#movement-controls {
    display: inline-block;
    margin-top: 20px;
}

#joystick-container {
    margin-top: 20px;
}

input[type="range"] {
    width: 50%;
}
